<mat-expansion-panel
  class="container mat-elevation-z0"
  hideToggle
  [ngClass]="
    trip.id === (selectedJourney$ | async)?.trip_id
      ? 'journey-active'
      : 'not-active'
  "
>
  <mat-expansion-panel-header class="card">
    <mat-panel-title>
      <img class="image" [src]="trip!.image_url"
    /></mat-panel-title>
    <mat-panel-description>
      <div class="title">
        <h2>{{ trip!.name }}</h2>
        <p>Created at: {{ trip!.created_at | date }}</p>
      </div>
      <span class="active-journey-icon" *ngIf=" trip.id === (selectedJourney$ | async)?.trip_id"><mat-icon>outlined_flag</mat-icon> </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h2>Description:</h2>
  <h4>{{ trip!.description }}</h4>
  <h2>Distance:</h2>
  <h4>{{ trip!.distance }}</h4>
  <h2>Duration:</h2>
  <h4>{{ trip!.duration }}</h4>
  <h2>Author info:</h2>
  <h4>Created at: {{ trip!.created_at | date }}</h4>
  <h4>Updated at: {{ trip!.updated_at | date }}</h4>
  <h2>Categories:</h2>
  <div id="categories">
    <button mat-icon-button matSuffix>
      <mat-icon class="cat-drink">local_drink</mat-icon>
    </button>
    <button mat-icon-button matSuffix>
      <mat-icon class="cat-relax">spa</mat-icon>
    </button>
  </div>
  <button *ngIf=" trip.id !== (selectedJourney$ | async)?.trip_id"
    mat-flat-button
    color="primary"
    class="journey-button"
    (click)="createJourney(trip.id)"
  >
    Create Journey
  </button>
</mat-expansion-panel>
