* {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
}

.dashboard {
  max-height: 95vh;
}

#dashboard {
  display: flex;
  flex: 1;
}

#dashboard > #map {
  margin: 1rem 1rem 1.5rem 0.5rem;
  flex: 1;
  order: 3;
  background: whitesmoke;
  border: 1px dotted #b0b0b0;
}

#map,
tp-dashboard-map {
  border-radius: 5px;
}

#dashboard > #routes {
  margin: 1rem 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 20vw;
}

#routes > tp-dashboard-search {
  flex: 1;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px dotted #b0b0b0;
}

#routes > tp-dashboard-trips {
  border-radius: 5px;
  flex: 12;
}

#dashboard > #journey-roadmap {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  order: 2;
  display: flex;
  flex-direction: column;
  flex: 0 0 25vw;
}

#journey-roadmap > tp-journey-roadmap-title {
  flex: 1;
  border-radius: 5px;
  margin-bottom: 1rem;

}

#journey-roadmap > tp-journey-roadmap {
  border-radius: 5px;
  flex: 12;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #3f51b5 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
