<form [formGroup]="searchField">
  <mat-form-field id="search" floatLabel="never">
    <input
      matInput
      ngx-google-places-autocomplete
      [options]="searchOptions"
      id="searchinput"
      #placesRef="ngx-places"
      (onAddressChange)="handleAddressChange($event)"
      placeholder="Location"
      formControlName="searchParam"
    />
    <button mat-icon-button matSuffix class="iconx2" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="iconx2" (click)="byLocation()" matSuffix>
      <mat-icon>location_on</mat-icon>
    </button>
  </mat-form-field>
</form>
<mat-button-toggle-group
  class="category-toggles"
  name="category"
  aria-label="Categories"
  multiple
  (change)="this.sendRequest()"
  [(value)]="category_selected"
>
  <mat-button-toggle
    class="category-toggle"
    value="restaurant"
  >
    <mat-icon class="cat-restaurant">restaurant</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="category-toggle" value="fort">
    <mat-icon class="cat-museums">fort</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="category-toggle" value="local_grocery_store">
    <mat-icon class="cat-relax">local_grocery_store</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="category-toggle" value="nightlife">
    <mat-icon class="cat-restaurant">nightlife</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="category-toggle" value="local_hospital">
    <mat-icon class="cat-drink">local_hospital</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div class="search-radius">
  <label class="range-label">Range({{ range }}m):</label>
  <mat-slider
    class="range-slider"
    min="500"
    max="15000"
    step="500"
    color="primary"
    showTickMarks="true"
    discrete
    (change)="this.sendRequest()"
    [displayWith]="formatLabel"
    [(ngModel)]="range"
  >
  </mat-slider>
</div>
