<mat-form-field id="search">
  <input  matInput placeholder="Location"/>
  <button mat-icon-button matSuffix><mat-icon>location_on</mat-icon></button>
  <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
</mat-form-field>

<div id="categories">
  <button mat-icon-button matSuffix><mat-icon class="cat-restaurant">restaurant</mat-icon></button>
  <button mat-icon-button matSuffix><mat-icon class="cat-drink">local_drink</mat-icon></button>
  <button mat-icon-button matSuffix><mat-icon class="cat-museums">school</mat-icon></button>
  <button mat-icon-button matSuffix><mat-icon class="cat-relax">spa</mat-icon></button>
</div>
