<form [formGroup]="searchField">
  <mat-form-field id="search" floatLabel="never">
    <input matInput placeholder="Location" formControlName="searchParam" />
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="getLocation()" matSuffix>
      <mat-icon>location_on</mat-icon>
    </button>
  </mat-form-field>
</form>

<div id="categories">
  <button mat-icon-button matSuffix>
    <mat-icon class="cat-restaurant">restaurant</mat-icon>
  </button>
  <button mat-icon-button matSuffix>
    <mat-icon class="cat-drink">local_drink</mat-icon>
  </button>
  <button mat-icon-button matSuffix>
    <mat-icon class="cat-museums">school</mat-icon>
  </button>
  <button mat-icon-button matSuffix>
    <mat-icon class="cat-relax">spa</mat-icon>
  </button>
</div>
