* {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  margin: 1rem;
}

mat-stepper {
  height: 91vh;
}

mat-step {
  height: 90vh;
}

.stepper-content{
  margin: 1rem;
}
.category-toggle{
  width: 100%;
}
