mat-card {
  width: 20vw;
}

mat-card-content {
  display: flex;
}

form {
}
mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 0.5rem;
  width: 100%;
}
